<!DOCTYPE html>
<html>
<head>
  <title>HolidayPlanner</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=<%= ENV['GOOGLE_API_KEY'] %>&libraries=geometry&language=&hl=&region="></script>
</head>
<body>

<%= yield %>

</body>
</html>
